
.mainCont{
    text-align: center;
}
.imagediv{
    width: 100%;
    height: 30rem;
    background-image: url("https://d2aq6dqxahe4ka.cloudfront.net/themes/front/page/images/browse-fundraiser/banner.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border: 1px solid white;
}
.collectiondiv{
    width: 90%;
    height: 10rem;
    /* border: 1px solid blue; */
    margin: auto;
    margin-top: 60px;
    border-radius: 20px;
    background: rgba(129, 133, 129, 0.3) /* Green background with 30% opacity */
}
.textcontainer{
    width: 80%;
    height: 10rem;
    margin: auto;
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-between;
    color: white;
}
.inputbox{
    width: 80%;
    height: 3rem;
    /* border: 1px solid red; */
    margin: auto;
    margin-top: 4%;
    display: flex;
    padding: 0px 15px;
}
.searchbox{
    width: 90%;
    height: 3rem;
    background: white;
    display: flex;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}
.searchbox > input{
    width: 100%;
    height: 3rem;
    background: #FFFFFF;
    border: none;
    outline: none;
    /* border-radius: 20px; */
}
.griddisplay img{
    width: 20px;
    height: 20px;
    margin-top: 5px;
    border-radius: 10px;
}
.databox{
    width: 80%;
    height: 60rem;
    /* border: 1px solid red; */
    margin: auto;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}
.list{
    width: 25%;
    height: 20rem;
    /* border: 1px solid red; */
    /* background: #FFFFFF; */
    border-radius: 20px;
}
.patient{
    width: 68.5%;
    height: 60rem;
    /* border: 1px solid red; */
}
.list>div{
    border-radius: 5px;
    height: 50px;
    display: flex;
    background: #FFFFFF;
    margin-bottom: 2px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    cursor: pointer;
    padding-bottom: 10px;
}
.selection{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}
.griddisplay{
    width: 100%;
    height: 60rem;
    border-radius: 10px;
    /* border: 1px solid red; */
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 10px;
    /* overflow: scroll; */
}